<a href="https://colab.research.google.com/github/yusun-shin/python_programming/blob/main/9%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1부터 5까지의 정수 리스트 만들기

number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [ ]:
number_list = []
for number in range(1,6):
  number_list.append(number)

In [ ]:
number_list = list(range(1,6))

In [ ]:
#1부터 5까지의 정수 리스트 만들기 -List Comprehenshion
number_list=[number for number in range (1,6)]
print(number_list)

[1, 2, 3, 4, 5]

In [ ]:
#함수 적용
number_list=[number-1 for number in range (1,6)]
print(number_list)

[0, 1, 2, 3, 4]

In [ ]:
#조건 적용
a_list=[number for number in range (1,6) if number %2==1]
print(a_list)

[1, 3, 5]

In [ ]:
#for 문을 사용한다면
a_list=[]
for number in range (1,6):
  if number%2==1:
    a_list.append(number)
print(a_list)

[1, 3, 5]

In [ ]:
sentence=['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

#함수 적용
[word.lower() for word in sentence]

#조건 적용
[word for word in sentence if len(word) > 6]

# 함수 적용하여 튜플로 저장
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [ ]:
rows=range(1,4)
cols=range(1,3)
for row in rows:
  for col in cols:
    print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [ ]:
rows=range(1,4)
cols=range(1,3)
cells=[(row,col)for row in rows for col in cols]
for cell in cells:
  print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [ ]:
[(i,j) for i in range(5) for j in range (i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [ ]:
#dictionary 예제
word='letters'
letter_counts={letter:word.count(letter) for letter in word}
print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [ ]:
#dictionary 다른 방식으로  코딩
word='letters'
letter_counts={letter:word.count(letter) for letter in set(word)}
print(letter_counts)

{'s': 1, 'e': 2, 'r': 1, 'l': 1, 't': 2}

In [ ]:
#Set Comprehension
a_set={number for number in range (1,6) if number %3==1}
print(a_set)

{1, 4}

In [ ]:
# ZIP을 이용한 순회

days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [ ]:
#zip을 이용하여 영어-프랑스 사전 만들기

english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
dict( zip(english, french) )
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [ ]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [ ]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu(entree='beef',dessert='bagel',wine='bordeaux')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [ ]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [ ]:
# dessert의 기본값을 정해줌
def menu (wine, entree, dessert='pudding'):
  return {'wine':wine,'entree':entree,'dessert':dessert}

print(menu('chardonnay','chicken'))

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [ ]:
# dessert의 기본값을 정해줌
def menu (wine, entree, dessert='pudding'):
  return {'wine':wine,'entree':entree,'dessert':dessert}

menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [ ]:
#ex1

def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

menu(100)
menu(price=100)
menu(price=120, entree='beef')
menu(dessert='bagel',price=110)
menu('eighty''saint-pierre','fish')
menu('hundred', wine='saint-pierre')

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [ ]:
#ex2 불가능한 경우

def menu(price, wine='chardonnay',entree='chicken', dessert='pudding'):
  return {'price':price,'wine':wine, 'entree':entree, 'dessert':dessert}

menu()
menu(price=100,'saint-pierre')
menu(100,price=120)
menu(main='cream pasta')

# Docstring

In [4]:
#함수 시작 부분에 문자열을 포함하여 함수 정의에 문서를 붙일 수 있음

def echo(anything):
  'echo returns its input argument'
  return anything

In [7]:
echo(1)

1

In [8]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [10]:
def print_if_true(thing,check):
  """
  Prints the first argument if a second argument is true.
  The operation is:
    1. Check whether the *second argument* is true.
    2. If it is, print the *first argument*.
  """
  if check:
    print(thing)

In [11]:
print_if_true("Python",True)

Python

In [12]:
print_if_true()

TypeError: print_if_true() missing 2 required positional arguments: 'thing' and 'check'

In [13]:
print_if_true("hahaha",True)

hahaha

In [14]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
      1. Check whether the *second argument* is true.
      2. If it is, print the *first argument*.